<div class="page-lead">
  <div class="page-heading">
    <h1>Edit Community Member</h1>
  </div>
  <div class="page-actions">
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "memberships/form" %>
  </div>
</div>
