<div class="page-lead">
  <div class="page-heading">
    <h1>Community Memberships</h1>
  </div>
  <div class="page-actions">
    <a href="<%= new_membership_path %>" class="uk-button uk-button-link">
      <span uk-icon="icon: plus"></span>
      New Membership
    </a>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "memberships/memberships" %>
  </div>
</div>
