<div class="page-lead">
  <div class="page-heading">
    <h1>Downloads</h1>
  </div>
  <div class="page-actions">
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "downloads/downloads", show_document: true %>
    <%= render "documents/documents_404" if @downloads.empty? %>
  </div>
</div>
