<div class="page-lead">
  <div class="page-heading">
    <%= heading("Search Documents", current_community.name) %>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "documents/search" %>
  </div>
</div>
