<div class="page-home">
  <div class="page-home-header">
    <div class="page-home-titlebar">
      <div class="page-home-logo">
        <h1><strong>Community</strong>Share</h1>
      </div>
      <ul class="uk-navbar-nav page-home-nav">
        <li>
          <a href="#home-features" uk-scroll>Features</a>
        </li>
        <li>
          <a href="#home-pricing" uk-scroll>Pricing</a>
        </li>
        <li>
          <a href="#home-help" uk-scroll>Help</a>
        </li>
        <li>
          <a class="login-link" href="<%= user_facebook_omniauth_authorize_path %>">
            <span class="icon" uk-icon="icon: user; ratio: 0.75"></span>
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="page-home-features" id="home-features">
    <div class="page-home-heading">
      <h2 class="uk-text-center uk-heading-line">
        <span>Features</span>
      </h2>
    </div>

    <div class="home-features-table uk-child-width-expand" uk-grid>
      <div>
        File Uploads
      </div>
      <div>
        Dynamic Tags
      </div>
      <div>
        Facebook Groups
      </div>
      <div>
        User Management
      </div>
    </div>
    <div class="home-features-table uk-child-width-expand" uk-grid>
      <div>
        Secure Storage
      </div>
      <div>
        Usage Metrics
      </div>
      <div>
        Membership Levels
      </div>
      <div>
        Revision History
      </div>
    </div>
  </div>

  <div class="page-home-pricing" id="home-pricing">
    <div class="page-home-heading">
      <h2 class="uk-text-center uk-heading-line">
        <span>Pricing</span>
      </h2>
    </div>
    <div class="home-pricing-table uk-child-width-expand" uk-grid>
      <div class="home-pricing-card home-pricing-first">
        <div class="plan">Starter</div>
        <div class="price">$0</div>
        <div class="price-term">Per Month</div>
        <div class="action">
          <a href="#">Get Started</a>
        </div>
        <div class="features">Up to 5 Users</div>
        <div class="features">Up to 30 Files / 100 MB</div>
      </div>
      <div class="home-pricing-card home-pricing-second">
        <div class="plan">Community</div>
        <div class="price">$35</div>
        <div class="price-term">Per Month</div>
        <div class="action">
          <a href="#">Get Started</a>
        </div>
        <div class="features">Up to 30 Users</div>
        <div class="features">Up to 300 Files / 10 GB</div>
        <div class="trial">
          <div>30 Day Free Trial</div>
          <div>No Credit Card Required</div>
        </div>
      </div>
      <div class="home-pricing-card home-pricing-third">
        <div class="plan">Premium</div>
        <div class="price">$95</div>
        <div class="price-term">Per Month</div>
        <div class="action">
          <a href="#">Get Started</a>
        </div>
        <div class="features"><strong>Unlimited</strong> Users</div>
        <div class="features"><strong>Unlimited</strong> Files / 50 GB</div>
        <div class="features">File History</div>
        <div class="features">Usage Metrics</div>
        <div class="trial">
          <div>30 Day Free Trial</div>
          <div>No Credit Card Required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-home-footer">
    <div class="page-home-footer-top">

    </div>
    <div class="page-home-footer-bottom">
      Created by <a href="#">Chris Laskey</a>
    </div>
  </div>
</div>
