<% if document.tags.present? %>
  <p>
    <% document.tags.group_by(&:category).map do |category, items| %>
      <strong><%= category %>: </strong>
        <% items.map do |tag| %>
          <span><%= link_to tag.name, tag_path(tag) %></span>
        <% end %>
      </strong>
    <% end %>
  </p>
<% end %>
