<div class="uk-placeholder uk-text-center">
  <span uk-icon="icon: cloud-upload"></span>
  <span class="uk-text-middle">No documents found. <%= link_to "Add a new one", new_document_path %></span>
</div>
