<% if document.tags.present? %>
  <div class="document-tags">
    <% document.tags.group_by(&:category).map do |category, items| %>
      <span class="tag-category">
        <strong><%= category %>: </strong>
        <% items.map do |tag| %>
          <span class="tag"><%= link_to tag.name, document_tag_path(tag) %></span>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
