<div class="page-main">
  <div class="page-content">
    <div class="page-lead">
      <div class="page-heading">
        <h1>New Document</h1>
      </div>
      <div class="page-actions"></div>
    </div>

    <%= render "documents/form" %>
  </div>
</div>
