<% if @tags.any? %>
  <% @tags.group_by(&:category).map do |category, items| %>
    <h3><%= category %></h3>
    <ul>
    <% items.map do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
