<div class="page-lead">
  <div class="page-heading">
    <h1>Tags</h1>
  </div>
  <div class="page-actions">
    <a href="<%= new_tag_path %>" class="uk-button uk-button-link">
      <span uk-icon="icon: plus"></span>
      New
    </a>
  </div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "tags/tags" %>
    <%= render "tags/tags_404" if @tags.empty? %>
  </div>
</div>
