<div class="page-lead">
  <div class="page-heading">
    <%= heading("New Tag", current_community.name) %>
  </div>
  <div class="page-actions"></div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">
    <%= render "tags/form" %>
  </div>
</div>
