<div class="page-login">
  <div class="page-login-inner">
    <h1><strong>Community</strong>Share</h1>
    <a class="login-link" href="<%= user_linkedin_omniauth_authorize_path %>">
      <span uk-icon="icon: linkedin"></span>
      Log in with LinkedIn
    </a>
  </div>
</div>
