.page-home {

  .page-home-heading {
    display: flex;
    justify-content: center;

    h2 {
      font-size: 1.5rem;
      letter-spacing: 3px;
      margin: 0 0 60px 0;
      text-transform: uppercase;
      width: 45%;
    }
  }

  .page-home-header {
    background-color: #702071;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(162,84,182,0.5) 0%, rgba(162,84,182,0) 75%);
    background-image: radial-gradient(50% top, circle, rgba(162,84,182,0.5) 0%, rgba(162,84,182,0) 75%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 540px;

    .page-home-titlebar {
      display: flex;
      justify-content: space-between;
      padding: 0px 30px;

      .page-home-logo {
        align-items: center;
        display: flex;

        h1 {
          color: #fff;
          font-weight: 400;
          font-size: 1.25rem;
          margin: 0;
          padding: 0;

          strong {
            font-weight: 700;
          }
        }
      }

      .page-home-nav {

        a {
          color: #fff;

          &.login-link {
            color: rgba(255, 255, 255, 0.9);
            font-size: 0.75rem;

            span {
              background: rgba(0, 0, 0, 0.2);
              border-radius: 3px;
              padding: 3px 8px;
            }
          }
        }

        .icon {
          margin-right: 5px;
        }
      }
    }

    .heading {
      color: rgba(255, 255, 255, 0.9);
      font-size: 2rem;
      font-weight: 800;
      padding-top: 130px;
      text-align: center;
    }

    .subheading {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.25rem;
      text-align: center;
    }

    .buttons {
      align-items: center;
      display: flex;
      margin: 30px 0 0 0;
      justify-content: center;

      .register-link {
        background: #fff;
        color: #ab0ab3;
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 800;
        padding: 16px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:hover {
          background: #1e87f0;
          color: #fff;
          text-decoration: none;
        }
      }

      .demo-link {
        border: 1px solid rgba(255, 255, 255, 0.8);
        color: #fff;
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 15px 30px;
        letter-spacing: 1px;
        margin-left: 15px;
        text-transform: uppercase;

        &:hover {
          background: #1e87f0;
          border: 1px solid #1e87f0;
          color: #fff;
          text-decoration: none;
        }

      }
    }
  }

  .page-home-features {
    background-color: #fff;
    padding: 60px 30px;

    .home-features-table {
      text-align: center;

      & > div {
        padding: 0px 45px;
      }

      .icon {
        margin: 0 0 15px 0;
      }

      .headline {
        font-size: 0.875rem;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .page-home-faq {
    background-color: #704aa2;
    color: rgba(255, 255, 255, 0.9);
    padding: 60px 30px;

    .page-home-heading {
      float: left;
      margin-right: 30px;
      width: 30%;

      h2 {
        color: rgba(255, 255, 255, 0.95);
        text-align: left;
        width: 100%;
      }
    }
  }

  .page-home-pricing {
    background-color: #fff;
    padding: 60px 30px;

    .home-pricing-table {
      margin: 0px 45px;

      .home-pricing-card {
        text-align: center;
        margin-left: 30px;
        padding: 45px 45px;

        .plan {
          font-size: 1.0rem;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .price {
          margin-top: 0.5rem;
          margin-left: -0.5rem;
          font-size: 4.5rem;
        }

        .price-term {
          margin-bottom: 1rem;
        }

        .action {

          a {
            background: #8f2690;
            color: #fff;
            display: inline-block;
            font-size: 0.75rem;
            font-weight: 800;
            padding: 15px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover {
              background: #9d1e9e;
              text-decoration: none;
            }
          }
        }

        .features {
          font-size: 0.875rem;
          margin: 1rem 0px;
        }

        .trial {
          font-size: 0.875rem;
          margin: 1rem 0px;

          & > div {
            margin: 1rem 0px;
          }
        }
      }

      .home-pricing-first {
        background: #f4f4f4;
      }

      .home-pricing-second {
        background: #333;
        color: rgba(255, 255, 255, 0.9);
      }

      .home-pricing-third {

      }
    }

    .home-pricing-footer {
      margin: 60px 0 0 0;
      text-align: center;

      a {
        border-bottom: 1px solid #ccc;
        color: #333;

        &:hover {
          border-bottom: none;
          color: #9d1e9e;
          text-decoration: none;
        }
      }
    }
  }

  .page-home-demo {
    background-color: #4d388c;
    color: rgba(255, 255, 255, 0.9);
    padding: 60px 30px 60px 30px;
    text-align: center;

    .page-home-heading {
      h2 {
        color: rgba(255, 255, 255, 0.95);
      }
    }

    .page-home-demo-intro {
      margin: 0 0 15px 0;
    }

    a {
      background: #1e87f0;
      color: #fff;
      display: inline-block;
      font-size: 0.75rem;
      font-weight: 800;
      padding: 15px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover {
        background: #168ef5;
        text-decoration: none;
      }
    }
  }

  .page-home-register {
    background-color: #fff;
    padding: 60px 30px;

    .page-home-register-directions {
      margin: -15px 0 45px 0;
      text-align: center;
    }

    .page-home-register-form-inner {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .page-home-register-row-container {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .page-home-register-row {
      align-items: center;
      background: #f6f6f6;
      display: flex;
      justify-content: center;
      padding: 30px 45px;
      width: 100%;
    }

    .community-name {
      width: 400px;
    }

    .community-level {
      margin: 0 2%;
      width: 200px;
    }

    .submit input {
      background: #9d1e9e;
      color: #fff;
      font-size: 0.75rem;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover {
        background: #8f2690;
      }
    }

    .terms-agreement {
      font-size: 0.875rem;
      margin: 15px 0 0 0;
      text-align: center;

      a {
        border-bottom: 1px solid #ccc;
        color: #333;

        &:hover {
          border-bottom: none;
          color: #9d1e9e;
          text-decoration: none;
        }
      }
    }
  }

  .page-home-support {
    background: #222;
    color: rgba(255, 255, 255, 0.9);
    padding: 60px 30px;
    text-align: center;

    .page-home-heading {
      h2 {
        color: rgba(255, 255, 255, 0.95);
      }
    }

    a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        border-bottom: none;
        color: #1e87f0;
        text-decoration: none;
      }
    }
  }

  .page-home-footer {
    background: #181818;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.875rem;
    padding: 30px 30px;
    text-align: center;

    a {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 700;
    }
  }
}
