@import 'https://fonts.googleapis.com/css?family=Quicksand';

html {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

body {
  background: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.page-header {
  background: #1a1a1a;

  .uk-navbar-nav > li > a,
  .uk-navbar-item,
  .uk-navbar-toggle {
    color: #fff;
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    text-transform: none;
  }

  .page-titlebar {
    align-self: stretch;
    background: #222;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0px 30px 0px 15px;

    .uk-logo {
      color: #fff;
      font-size: 1.125rem;
      font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }

    .user {
      color: #fff;
    }
  }

  .page-navbar {
    align-self: stretch;
    display: flex;
    font-weight: 600;
    height: 45px;
    justify-content: space-between;
    padding: 0px 15px;
  }
}

.page-body {
  padding: 45px 30px 30px 30px;

  .alerts {
    margin-top: -25px;

    .uk-alert-danger {
      background: #fff;
      border-left: 5px solid #f0506e;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.10);
    }

    .uk-alert-success {
      background: #fff;
      border-left: 5px solid #32d296;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.10);
    }
  }
}

.page-main {
  display: flex;
  justify-content: space-between;
}

.page-content {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 30px;
  width: 100%;
  z-index: 1000;
}

.page-lead {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;

  .page-heading {
    h1, h2 {
      margin-bottom: 0;
    }
  }

  .page-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    a {
      margin-left: 5px;
    }

    a:first-child {
      margin-left: 0;
    }
  }
}

.page-sidebar {
  font-size: 0.875rem;
  margin-left: 45px;
  min-width: 200px;
  position: relative;
  max-width: 400px;
  width: 30%;

  h4 {
    margin-top: 0;
  }

  li {
    margin-left: 7px;
  }

  .uk-list > li:nth-child(n+2) {
    margin-top: 5px;
  }

  a {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .size {
      border-radius: 3px;
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.625rem;
      font-weight: 600;
      padding: 2px 0px;
      text-align: center;
      width: 24px;
    }

    &:hover {
      color: #1e87f0;
      text-decoration: none;

      .size {
        background: #1e87f0;
        color: #fff;
      }
    }
  }
}

.page-footer {
  // background: #181818;
  // background: #fff;
  // border-top: 1px solid #eee;
  // height: 100px;
  // padding: 30px 30px;
}
