@import 'https://fonts.googleapis.com/css?family=Quicksand';

html {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

h1, h2, h3, h4, h5 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.page-header {
  align-self: stretch;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.page-body {
  margin: 45px 30px 30px 30px;
}

.page-main {
  display: flex;
  justify-content: space-between;
}

.page-content {
  width: 100%;
}

.page-lead {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;

  .page-heading {
    h1, h2 {
      margin-bottom: 0;
    }
  }

  .page-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    a {
      margin-left: 5px;
    }

    a:first-child {
      margin-left: 0px;
    }
  }
}

.page-sidebar {
  margin-left: 60px;
  width: 320px;

  .sidebar-link {
    color: #666;
    display: flex;
    justify-content: space-between;

    .uk-badge {
      background: #5fa8f3;
    }

    &:hover {
      color: #666;
      text-decoration: none;

      .uk-badge {
        background: #1e87f0;
      }
    }
  }
}

.page-footer {
  background: #181818;
  height: 200px;
  padding: 60px 30px;
}
