<% if [:alert, :error, :notice, :success].any? {|type| flash[type].present? } %>
  <div class="alerts">

    <% if flash[:alert].present? %>
      <% flash[:alert].map do |message| %>
        <div class="uk-alert-alert" uk-alert>
          <%= message %>
          <a class="uk-alert-close" uk-close></a>
        </div>
      <% end %>
    <% end %>

    <% if flash[:error].present? %>
      <% flash[:error].map do |message| %>
        <div class="uk-alert-danger" uk-alert>
          <%= message %>
          <a class="uk-alert-close" uk-close></a>
        </div>
      <% end %>
    <% end %>

    <% if flash[:notice].present? %>
      <% flash[:notice].map do |message| %>
        <div class="uk-alert-notice" uk-alert>
          <%= message %>
          <a class="uk-alert-close" uk-close></a>
        </div>
      <% end %>
    <% end %>

    <% if flash[:success].present? %>
      <% flash[:success].map do |message| %>
        <div class="uk-alert-success" uk-alert>
          <%= message %>
          <a class="uk-alert-close" uk-close></a>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>
