<div class="uk-navbar-container">
  <div class="uk-container uk-container-expand">
    <div class="uk-navbar-left">
      <a href="/" class="uk-navbar-item uk-logo">Rover</a>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-active"><a href="../docs/">Documentation</a></li>
        <li><a href="../changelog">Changelog</a></li>
      </ul>

      <div class="uk-navbar-item uk-visible@m">
        <a href="../download" class="uk-button uk-button-default uk-icon">Download</a>
      </div>
    </div>
  </div>
</div>
