<div class="page-header">
  <div class="uk-navbar-left">
    <a href="/" class="uk-navbar-item uk-logo">rover</a>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-visible@m">
      <li class="uk-active"><a href="/documents">Documents</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>

    <a
      class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon"
      href="#"
      uk-toggle=""
      uk-navbar-toggle-icon=""
      ></a>
  </div>
</div>
