<div class="uk-navbar-container">
  <div class="uk-container uk-container-expand" uk-grid>
    <div class="uk-navbar-left">
      <a href="/" class="uk-navbar-item uk-logo">rover</a>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-active"><a href="/documents">Documents</a></li>
        <li><a href="/tags">Tags</a></li>
      </ul>
    </div>
  </div>
</div>
