<div class="page-header">
  <div class="page-titlebar">
    <div class="uk-navbar-left">
      <a href="/" class="uk-navbar-item uk-logo"><strong>Community</strong>Share</a>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-visible@m">
        <a class="user" href="#">User Name</a>
      </div>
    </div>
    <a class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" href="#" uk-toggle="" uk-navbar-toggle-icon=""></a>
  </div>

  <div class="page-navbar">
    <ul class="uk-navbar-nav uk-visible@m">
      <li><a href="/">Home</a></li>
      <li class="uk-active"><a href="/documents">Documents</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>
  </div>
</div>
