<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <div class="page-container">
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
