<!DOCTYPE html>
<html>
  <head>
    <title>Rover</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" media="all" href="/assets/css/uikit.css" />
    <link rel="stylesheet" media="all" href="/assets/css/uikit-theme.css" />
    <script src="/assets/js/uikit.min.js"></script>
  </head>

  <body>
    <div>
      <div class="uk-navbar-container tm-navbar-container uk-active" style="position: fixed; top: 0px; width: 1275px;">
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar">
            <div class="uk-navbar-left">
              <a class="uk-navbar-item uk-logo" href="../"><img class="uk-margin-small-right" hidden="hidden" src="../images/uikit-logo.svg"><svg class="uk-margin-small-right" height="34" viewbox="0 0 28 34" width="28" xmlns="http://www.w3.org/2000/svg">
              <polygon fill="#fff" points="19.1,4.1 13.75,1 8.17,4.45 13.6,7.44"></polygon>
              <path d="M21.67,5.43l-5.53,3.34l6.26,3.63v9.52l-8.44,4.76L5.6,21.93v-7.38L0,11.7v13.51l13.75,8.08L28,25.21V9.07 L21.67,5.43z" fill="#fff"></path></svg> UIkit</a>
            </div>
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav uk-visible@m">
                <li class="uk-active">
                  <a href="../docs/">Documentation</a>
                </li>
                <li>
                  <a href="../changelog">Changelog</a>
                </li>
              </ul>
              <div class="uk-navbar-item uk-visible@m">
                <a class="uk-button uk-button-default tm-button-default uk-icon" href="../download">Download
                <canvas class="uk-icon" height="20" hidden="hidden" width="20"></canvas><svg height="20" viewbox="0 0 20 20" width="20">
                <polyline fill="none" points="14,10 9.5,14.5 5,10" stroke="#000"></polyline>
                <rect height="1" width="13" x="3" y="17"></rect>
                <line fill="none" stroke="#000" x1="9.5" x2="9.5" y1="13.91" y2="3"></line></svg></a>
              </div><a class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" href="#offcanvas"><svg height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
              <rect height="2" width="20" y="9"></rect>
              <rect height="2" width="20" y="3"></rect>
              <rect height="2" width="20" y="15"></rect></svg></a>
            </div>
          </nav>
        </div>
      </div>
      <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;"></div>
      <div class="tm-sidebar-left uk-visible@m">
        <h3>Documentation</h3>
        <ul class="uk-nav uk-nav-default tm-nav">
          <li class="uk-nav-header">Getting started</li>
          <li class="">
            <a href="/docs/introduction">Introduction</a>
          </li>
          <li class="">
            <a href="/docs/installation">Installation</a>
          </li>
          <li class="">
            <a href="/docs/less">Less</a>
          </li>
          <li class="">
            <a href="/docs/javascript">JavaScript</a>
          </li>
          <li class="uk-active">
            <a href="/docs/migration">Migration</a>
          </li>
        </ul>
        <ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
          <li class="uk-nav-header">Components</li>
          <li class="">
            <a href="/docs/accordion">Accordion</a>
          </li>
          <li class="">
            <a href="/docs/alert">Alert</a>
          </li>
          <li class="">
            <a href="/docs/align">Align</a>
          </li>
          <li class="">
            <a href="/docs/animation">Animation</a>
          </li>
          <li class="">
            <a href="/docs/article">Article</a>
          </li>
          <li class="">
            <a href="/docs/background">Background</a>
          </li>
          <li class="">
            <a href="/docs/badge">Badge</a>
          </li>
          <li class="">
            <a href="/docs/base">Base</a>
          </li>
          <li class="">
            <a href="/docs/breadcrumb">Breadcrumb</a>
          </li>
          <li class="">
            <a href="/docs/button">Button</a>
          </li>
          <li class="">
            <a href="/docs/card">Card</a>
          </li>
          <li class="">
            <a href="/docs/close">Close</a>
          </li>
          <li class="">
            <a href="/docs/column">Column</a>
          </li>
          <li class="">
            <a href="/docs/comment">Comment</a>
          </li>
          <li class="">
            <a href="/docs/container">Container</a>
          </li>
          <li class="">
            <a href="/docs/cover">Cover</a>
          </li>
          <li class="">
            <a href="/docs/description-list">Description List</a>
          </li>
          <li class="">
            <a href="/docs/divider">Divider</a>
          </li>
          <li class="">
            <a href="/docs/dotnav">Dotnav</a>
          </li>
          <li class="">
            <a href="/docs/drop">Drop</a>
          </li>
          <li class="">
            <a href="/docs/dropdown">Dropdown</a>
          </li>
          <li class="">
            <a href="/docs/flex">Flex</a>
          </li>
          <li class="">
            <a href="/docs/form">Form</a>
          </li>
          <li class="">
            <a href="/docs/grid">Grid</a>
          </li>
          <li class="">
            <a href="/docs/heading">Heading</a>
          </li>
          <li class="">
            <a href="/docs/icon">Icon</a>
          </li>
          <li class="">
            <a href="/docs/iconnav">Iconnav</a>
          </li>
          <li class="">
            <a href="/docs/inverse">Inverse</a>
          </li>
          <li class="">
            <a href="/docs/label">Label</a>
          </li>
          <li class="">
            <a href="/docs/link">Link</a>
          </li>
          <li class="">
            <a href="/docs/list">List</a>
          </li>
          <li class="">
            <a href="/docs/margin">Margin</a>
          </li>
          <li class="">
            <a href="/docs/modal">Modal</a>
          </li>
          <li class="">
            <a href="/docs/nav">Nav</a>
          </li>
          <li class="">
            <a href="/docs/navbar">Navbar</a>
          </li>
          <li class="">
            <a href="/docs/notification">Notification</a>
          </li>
          <li class="">
            <a href="/docs/offcanvas">Off-canvas</a>
          </li>
          <li class="">
            <a href="/docs/overlay">Overlay</a>
          </li>
          <li class="">
            <a href="/docs/padding">Padding</a>
          </li>
          <li class="">
            <a href="/docs/pagination">Pagination</a>
          </li>
          <li class="">
            <a href="/docs/placeholder">Placeholder</a>
          </li>
          <li class="">
            <a href="/docs/position">Position</a>
          </li>
          <li class="">
            <a href="/docs/print">Print</a>
          </li>
          <li class="">
            <a href="/docs/progress">Progress</a>
          </li>
          <li class="">
            <a href="/docs/scroll">Scroll</a>
          </li>
          <li class="">
            <a href="/docs/scrollspy">Scrollspy</a>
          </li>
          <li class="">
            <a href="/docs/search">Search</a>
          </li>
          <li class="">
            <a href="/docs/section">Section</a>
          </li>
          <li class="">
            <a href="/docs/slidenav">Slidenav</a>
          </li>
          <li class="">
            <a href="/docs/sortable">Sortable</a>
          </li>
          <li class="">
            <a href="/docs/spinner">Spinner</a>
          </li>
          <li class="">
            <a href="/docs/sticky">Sticky</a>
          </li>
          <li class="">
            <a href="/docs/subnav">Subnav</a>
          </li>
          <li class="">
            <a href="/docs/switcher">Switcher</a>
          </li>
          <li class="">
            <a href="/docs/tab">Tab</a>
          </li>
          <li class="">
            <a href="/docs/table">Table</a>
          </li>
          <li class="">
            <a href="/docs/text">Text</a>
          </li>
          <li class="">
            <a href="/docs/toggle">Toggle</a>
          </li>
          <li class="">
            <a href="/docs/tooltip">Tooltip</a>
          </li>
          <li class="">
            <a href="/docs/totop">Totop</a>
          </li>
          <li class="">
            <a href="/docs/transition">Transition</a>
          </li>
          <li class="">
            <a href="/docs/upload">Upload</a>
          </li>
          <li class="">
            <a href="/docs/utility">Utility</a>
          </li>
          <li class="">
            <a href="/docs/visibility">Visibility</a>
          </li>
          <li class="">
            <a href="/docs/width">Width</a>
          </li>
        </ul>
      </div>
      <div class="tm-main uk-section uk-section-default">
        <div class="uk-container uk-container-small uk-position-relative">
          <div>
            <!---->
            <div>
              <h1 class="uk-h1 tm-heading-fragment" id="migrate-to-uikit-3"><a href="#migrate-to-uikit-3">Migrate to UIkit 3</a></h1>
              <p class="uk-text-lead">Migrate an existing UIkit 2 website to the new UIkit 3.</p>
              <p>Uikit 3 offers a migration tool that runs in your browser and lists all necessary changes from an existing Uikit 2 site. Two options are available to run the tool: Via a bookmark or by including a single JavaScript file. The necessary migration changes are then listed in your browser's console.</p>
              <h2 class="uk-h3 tm-heading-fragment" id="browser-bookmark"><a href="#browser-bookmark">Browser bookmark</a></h2>
              <p>The easiest way to use the migration tool is via a bookmark in your browser. You can then run the script on any page that you navigate to by simply clicking the bookmark. Just drag the following link into your browser's bookmark section.</p>
              <p>Drag into your bookmark bar <span class="uk-icon"><svg height="20" viewbox="0 0 20 20" width="20">
              <polyline fill="none" points="10 5 15 9.5 10 14" stroke="#000"></polyline>
              <line fill="none" stroke="#000" x1="4" x2="15" y1="9.5" y2="9.5"></line></svg></span> <a class="uk-button uk-button-primary" href="javascript:%20(function%20()%20{%20var%20script%20=%20document.createElement('script');%20script.setAttribute('src',%20'https://getuikit.com/migrate.min.js');%20document.body.appendChild(script);%20}());">UIkit 3 Migration</a></p>
              <p>Alternatively, you can manually create a bookmark with the following code as its URL.</p>
              <div class="uk-margin-medium">
                <pre><code class="lang-js hljs javascript">javascript: (<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">var</span> script = <span class="hljs-built_in">document</span>.createElement(<span class="hljs-string">'script'</span>);
      script.setAttribute(<span class="hljs-string">'src'</span>, <span class="hljs-string">'https://getuikit.com/migrate.min.js'</span>);
      <span class="hljs-built_in">document</span>.body.appendChild(script);
  }());
  </code></pre>
              </div>
              <h2 class="uk-h3 tm-heading-fragment" id="html-integration"><a href="#html-integration">HTML integration</a></h2>
              <p>You can also run the migration tool by loading the needed JavaScript on your website. This way the migration script will always be loaded on your website. Remember to remove this when you have completed the migration. Add the following line just before the closing <code>&lt;/body&gt;</code> tag.</p>
              <div class="uk-margin-medium">
                <pre><code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://getuikit.com/migrate.min.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
  </code></pre>
              </div>
              <hr class="uk-margin-large">
              <h2 class="uk-h3 tm-heading-fragment" id="usage"><a href="#usage">Usage</a></h2>
              <p>To start the migration, replace the UIkit 2 files of your website with their UIkit 3 equivalents (both JS and CSS) and run the migration tool using one of the solutions listed above. To learn how to change your markup, open the developer console of your browser. Your see a list of warnings and notices that tell you what to change. You can click the arrows next to any message to see more details about the necessary changes.</p>
              <p><img alt="Console output" src="../docs/images/migration-console.gif"></p>
              <p>Every notice or warning message tells you what to change, including a list of all affected HTML elements. More complex changes are explained with examples that are easy to follow. The best way to migrate is to fix one component after another. That way you can see if the error messages are gone after a reload and also see the changes on your site.</p>
              <h3 class="uk-h4 tm-heading-fragment"><a href="#warnings">Warnings</a></h3>
              <p>Warnings highlight all CSS classes or JavaScript attributes which are not supported anymore or have changed in UIkit 3. These warnings have to be fixed to migrate your website to UIkit 3.</p>
              <h3 class="uk-h4 tm-heading-fragment"><a href="#notices">Notices</a></h3>
              <p>Notices highlight potential issues that might not break your site. Some notices might not require a change at all. This is caused by the fact that some names from UIkit 2 still exist in UIkit 3, but now belong to a different component or carry different semantics. This can't be detected by the selectors we use to determine if this is a correct markup, so you need to take a look into it and need to decide if you already have changed it or still need to fix it.</p>
            </div>
          </div>
          <div class="tm-sidebar-right uk-visible@l">
            <div class="uk-active" style="position: fixed; top: 160px; width: 200px;">
              <ul class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon">
                <li class="uk-active">
                  <a href="#browser-bookmark">Browser bookmark</a>
                </li>
                <li>
                  <a href="#html-integration">HTML integration</a>
                </li>
                <li>
                  <a href="#usage">Usage</a>
                </li>
                <li class="uk-nav-divider"></li><!---->
                <li>
                  <a href="https://github.com/uikit/uikit/issues" target="_blank"><span class="uk-margin-small-right uk-icon"><svg height="20" viewbox="0 0 20 20" width="20">
                  <circle cx="10" cy="14" r="1"></circle>
                  <circle cx="10" cy="10" fill="none" r="9" stroke="#000" stroke-width="1.1"></circle>
                  <path d="M10.97,7.72 C10.85,9.54 10.56,11.29 10.56,11.29 C10.51,11.87 10.27,12 9.99,12 C9.69,12 9.49,11.87 9.43,11.29 C9.43,11.29 9.16,9.54 9.03,7.72 C8.96,6.54 9.03,6 9.03,6 C9.03,5.45 9.46,5.02 9.99,5 C10.53,5.01 10.97,5.44 10.97,6 C10.97,6 11.04,6.54 10.97,7.72 L10.97,7.72 Z"></path></svg></span> <span class="uk-text-middle">Report issue</span></a>
                </li>
                <li>
                  <a href="https://gitter.im/uikit/uikit" target="_blank"><span class="uk-margin-small-right uk-icon"><svg height="20" viewbox="0 0 20 20" width="20">
                  <polygon fill="none" points="1.5,1.5 18.5,1.5 18.5,13.5 10.5,13.5 6.5,17.5 6.5,13.5 1.5,13.5" stroke="#000"></polygon>
                  <circle cx="10" cy="8" r="1"></circle>
                  <circle cx="6" cy="8" r="1"></circle>
                  <circle cx="14" cy="8" r="1"></circle></svg></span> <span class="uk-text-middle">Get help</span></a>
                </li>
                <li>
                  <a href="https://github.com/uikit/uikit-site/tree/develop/docs/pages/migration.md" target="_blank"><span class="uk-margin-small-right uk-icon"><svg height="20" viewbox="0 0 20 20" width="20">
                  <path d="M17.25,6.01 L7.12,16.1 L3.82,17.2 L5.02,13.9 L15.12,3.88 C15.71,3.29 16.66,3.29 17.25,3.88 C17.83,4.47 17.83,5.42 17.25,6.01 L17.25,6.01 Z" fill="none" stroke="#000"></path>
                  <path d="M15.98,7.268 L13.851,5.148" fill="none" stroke="#000"></path></svg></span> <span class="uk-text-middle">Edit this page</span></a>
                </li>
              </ul>
            </div>
            <div class="uk-sticky-placeholder" style="height: 200px; margin: 0px;"></div>
          </div>
        </div>
      </div>
      <div class="uk-offcanvas" id="offcanvas">
        <div class="uk-offcanvas-bar">
          <div class="uk-panel">
            <ul class="uk-nav uk-nav-default tm-nav">
              <li class="uk-nav-header">General</li>
              <li>
                <a href="../index">Home</a>
              </li>
              <li>
                <a href="../changelog">Changelog</a>
              </li>
              <li>
                <a href="../download">Download</a>
              </li>
            </ul>
            <ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
              <li class="uk-nav-header">Getting started</li>
              <li>
                <a href="./introduction">Introduction</a>
              </li>
              <li>
                <a href="./installation">Installation</a>
              </li>
              <li>
                <a href="./less">Less</a>
              </li>
              <li>
                <a href="./javascript">JavaScript</a>
              </li>
              <li>
                <a href="./migration">Migration</a>
              </li>
            </ul>
            <ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
              <li class="uk-nav-header">Components</li>
              <li>
                <a href="./accordion">Accordion</a>
              </li>
              <li>
                <a href="./alert">Alert</a>
              </li>
              <li>
                <a href="./align">Align</a>
              </li>
              <li>
                <a href="./animation">Animation</a>
              </li>
              <li>
                <a href="./article">Article</a>
              </li>
              <li>
                <a href="./background">Background</a>
              </li>
              <li>
                <a href="./badge">Badge</a>
              </li>
              <li>
                <a href="./base">Base</a>
              </li>
              <li>
                <a href="./breadcrumb">Breadcrumb</a>
              </li>
              <li>
                <a href="./button">Button</a>
              </li>
              <li>
                <a href="./card">Card</a>
              </li>
              <li>
                <a href="./close">Close</a>
              </li>
              <li>
                <a href="./column">Column</a>
              </li>
              <li>
                <a href="./comment">Comment</a>
              </li>
              <li>
                <a href="./container">Container</a>
              </li>
              <li>
                <a href="./cover">Cover</a>
              </li>
              <li>
                <a href="./description-list">Description List</a>
              </li>
              <li>
                <a href="./divider">Divider</a>
              </li>
              <li>
                <a href="./dotnav">Dotnav</a>
              </li>
              <li>
                <a href="./drop">Drop</a>
              </li>
              <li>
                <a href="./dropdown">Dropdown</a>
              </li>
              <li>
                <a href="./flex">Flex</a>
              </li>
              <li>
                <a href="./form">Form</a>
              </li>
              <li>
                <a href="./grid">Grid</a>
              </li>
              <li>
                <a href="./heading">Heading</a>
              </li>
              <li>
                <a href="./icon">Icon</a>
              </li>
              <li>
                <a href="./iconnav">Iconnav</a>
              </li>
              <li>
                <a href="./inverse">Inverse</a>
              </li>
              <li>
                <a href="./label">Label</a>
              </li>
              <li>
                <a href="./link">Link</a>
              </li>
              <li>
                <a href="./list">List</a>
              </li>
              <li>
                <a href="./margin">Margin</a>
              </li>
              <li>
                <a href="./modal">Modal</a>
              </li>
              <li>
                <a href="./nav">Nav</a>
              </li>
              <li>
                <a href="./navbar">Navbar</a>
              </li>
              <li>
                <a href="./notification">Notification</a>
              </li>
              <li>
                <a href="./offcanvas">Off-canvas</a>
              </li>
              <li>
                <a href="./overlay">Overlay</a>
              </li>
              <li>
                <a href="./padding">Padding</a>
              </li>
              <li>
                <a href="./pagination">Pagination</a>
              </li>
              <li>
                <a href="./placeholder">Placeholder</a>
              </li>
              <li>
                <a href="./position">Position</a>
              </li>
              <li>
                <a href="./print">Print</a>
              </li>
              <li>
                <a href="./progress">Progress</a>
              </li>
              <li>
                <a href="./scroll">Scroll</a>
              </li>
              <li>
                <a href="./scrollspy">Scrollspy</a>
              </li>
              <li>
                <a href="./search">Search</a>
              </li>
              <li>
                <a href="./section">Section</a>
              </li>
              <li>
                <a href="./slidenav">Slidenav</a>
              </li>
              <li>
                <a href="./sortable">Sortable</a>
              </li>
              <li>
                <a href="./spinner">Spinner</a>
              </li>
              <li>
                <a href="./sticky">Sticky</a>
              </li>
              <li>
                <a href="./subnav">Subnav</a>
              </li>
              <li>
                <a href="./switcher">Switcher</a>
              </li>
              <li>
                <a href="./tab">Tab</a>
              </li>
              <li>
                <a href="./table">Table</a>
              </li>
              <li>
                <a href="./text">Text</a>
              </li>
              <li>
                <a href="./toggle">Toggle</a>
              </li>
              <li>
                <a href="./tooltip">Tooltip</a>
              </li>
              <li>
                <a href="./totop">Totop</a>
              </li>
              <li>
                <a href="./transition">Transition</a>
              </li>
              <li>
                <a href="./upload">Upload</a>
              </li>
              <li>
                <a href="./utility">Utility</a>
              </li>
              <li>
                <a href="./visibility">Visibility</a>
              </li>
              <li>
                <a href="./width">Width</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
